# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DevWorkflowExampleCryptoDiploma.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jamid\OneDrive\Desktop\DappCryptoDiploma.net\.idea\.idea.DevWorkflowExampleCryptoDiploma\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
